/*Estilo para los textos, títulos y enlaces del footer*/
h1:hover {color: grey;}
.footer-fede{color: grey;}
body div footer div a{color: black; text-decoration: none}
body div footer div a:hover{color: grey;
scale: 1.1;}
body div footer div a:active{color: lightgray;}